div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  /*width: 180px;*/
  width: 20%;
  height: auto;
  border-radius: 25px;
  display: flex;  
  flex-wrap: wrap;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  border-radius: 25px 25px 5px 5px;
  /*height: 109px;*/
  height: 100%;
  display: flex;  
  flex-wrap: wrap;
}

div.desc {
  padding: 15px;
  text-align: center;
  
}
body {
  background-image: linear-gradient(green, orange);
}
.parallax {

background-color:#202020;
min-height: 200px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
display: flex;  
flex-wrap: wrap;
}
footer {
  background-color: #202020;
  border-radius: 15px;
}
.fab {
  padding: 25px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fab:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-discord {
  background: #7785cc;
  color: white;
}
.fa-github {
  background: grey;
  color: white;
}
.nexusbutton{
  padding: 25px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: orange;
  color: orange;
}
.nexusbutton:hover{
  opacity: 0.7;
}
.emailbutton{
  padding: 25px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
  color: white;
}
.emailbutton:hover{
  opacity: 0.7;
}